<a href="https://colab.research.google.com/github/jenniferoreffo/Keras-on-collab/blob/main/Regression_with_Keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

!pip install numpy==1.21.6
!pip install pandas==1.3.5
!pip install keras==2.8.0
!pip install matplotlib==3.5.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy==1.21.6 in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas==1.3.5 in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.5) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.5) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.5) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.5) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras==2.8.0 in /usr/local/lib/python3.7/dist-packages (2.8.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting matplotlib==3.5.0
  Downloading matplotlib-3.5.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     |████████████████████████████████| 11.2 MB 10.9 MB/s
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.0) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.0) (7.1.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.0) (1.21.6)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.0) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.0) (21.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.0) (0.11.0)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.34.4-py3-none-any.whl (944 kB)
     |████████████████████████████████| 944 kB 70.2 MB/s
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.0) (2.8.2)
Collecting setuptools-scm>=4
  Downloading setuptools_scm-7.0.5-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.9 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib==3.5.0) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib==3.5.0) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from setuptools-scm>=4->matplotlib==3.5.0) (57.4.0)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from setuptools-scm>=4->matplotlib==3.5.0) (2.0.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from setuptools-scm>=4->matplotlib==3.5.0) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->setuptools-scm>=4->matplotlib==3.5.0) (3.8.1)
Installing collected packages: setuptools-scm, fonttools, matplotlib
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
Successfully installed fonttools-4.34.4 matplotlib-3.5.0 setuptools-scm-7.0.5

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import np_utils

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
# import the data
from google.colab import drive 
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
#file path
pd.read_csv('/content/gdrive/MyDrive/concrete_data (2).csv')

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/concrete_data (2).csv')
df.shape

(1030, 9)

In [ ]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [ ]:
df.describe()
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [ ]:
#splitting the data
df_columns = df.columns

predictors = df[df_columns[df_columns != 'Strength']] # all columns except Strength
target = df['Strength'] # Strength column

In [ ]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [ ]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [ ]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [ ]:
n_cols = predictors_norm.shape[1] # number of predictors

In [ ]:
#define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42) 

# Build the model
model = regression_model()

In [ ]:
# fit the model
epochs = 50
model.fit(x_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 2ms/step - loss: 6705.1484
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 1636.9015
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 1103.9999
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 923.3724
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 803.2844
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 701.4357
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 619.5500
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 556.8348
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 499.0527
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 455.3702
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 420.6133
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 393.1390
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 371.5791
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 354.6110
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 341.4093
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 325.8694
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 314.4336
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 305.0230
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 293.6711
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 286.3186
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 279.5489
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 276.6081
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 267.9117
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 261.7591
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 256.4180
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 254.6052
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 249.0840
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 244.8273
Epoch 29/50
23/23 [==============================] - 0s 3ms/step - loss: 241.7164
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 235.9715
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 234.4413
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 233.4384
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 232.0807
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 226.4612
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 220.5232
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 215.8598
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 212.0720
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 209.8126
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 205.8272
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 203.7087
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 200.3673
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 198.2622
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 199.1219
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 191.5515
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 192.6471
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 190.0451
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 185.3629
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 183.4404
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 186.0941
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 185.0265

In [ ]:
loss_val = model.evaluate(x_test, y_test)
y_pred = model.predict(x_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 193.0068

193.0067901611328

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_squared_error)
standard_deviation = np.std(mean_squared_error)
print(mean, standard_deviation)

193.00677600509798 0.0

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_standard_error = []
for i in range(0, total_mean_squared_errors):
    x_train, x_test, y_train, = train_test_split(predictors, target, test_size=0.3, random_state=1)
    model.fit(x_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(x_test, y_test, verbose=0)
    print("MSE" + str(i+1)+":" +str(MSE))
    y_pred = model.predict(x_test)
    mean_squared_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_squared_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print("\n")
print("standard Deviation: "+str(standard_deviation))

ValueError: ignored